@import '~antd/dist/antd.css';
@import './animate.min.css';
@import './studio/main';
@import './ui';
@import "/public/fontiranyekan.css";

body {
  margin: 0;
	/*
  font-family: -apple-system, iranyekan, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	*/
	font-family: iranyekan;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
html {
	font-family: -apple-system, iranyekan, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-color {
	color: $base-color-dark;
}

