@import '~antd/dist/antd.css';
@import './animate.min.css';
@import './studio/main';
@import './ui';
@import "./fontiranyekan.css";

body {
  margin: 0;
  font-family: iranyekan, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-color {
	color: $base-color-dark;
}

