@import '~antd/dist/antd.css';
//@import "~semantic-ui-icon/icon.css";
@import './animate.min.css';
@import './studio/main';
@import './antd';
@import './rtl';
// @import "/public/fonts/iranyekan/fontiranyekan.css";

body {
	margin: 0;
	font-family: iranyekan, IRANSans, iranyekan, Vazir;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.latin-font {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.base-color {
	color: $base-color-dark;
}
